*{
	margin:0px;
	padding:0px;
}
.main_container{
	width:100%;
	margin:0 auto;
	height:600px;
	background-color:	#F5F5F5;
}
.landing_section{
	width:60%;
	margin:0 auto;
}
.head h1{
	text-align:center;
	color:	#7B68EE;
	padding:20px;
}
.head p{
	text-align:center;
	padding:5px;
}
.line{
	width:50px;
	height:5px;
	margin:0 auto;
	border-radius:5px;
	line-height:0.5;
	background-color:blue;
}
input{
	padding:15px 40px;

	
}
select{
	padding:15px 58px;
	width:250px;
}
.form{
	margin:20px;
	display:flex;
	justify-content:space-between;

}
.form_section{
	margin:20px;
	display:flex;
	justify-content:space-between;
	align-items:center;

}
textarea{
	margin:20px;
}
.button button{
	background-color:	#4169E1;
	color:white;
	margin:30px auto;
	display:flex;
	justify-content:center;
	padding:20px;
	border:none;
	border-radius:20px;
	align-items:center;
	width:200px;

} 